{% extends "layout.html" %}
{% block title %}Home Slice{% endblock %}

{% block jumbotron %}
{% endblock %}

{% block cols %}
{% endblock %}

{% block content %}
</br>
</br>
<div class="container">
<h1>Search for user information and such!</h1>
<p class="important">You can search, using the thing below</p>
                <h1>Search thing</h1>
                    <form action="/admin_search" method="post">
                      <div class="form-group">
                        <input type="text" name="searchString" id="searchString" placeholder="Enter your search string..." required>
                        </div>
                        <button type="submit" class="btn btn-default" value="submit">Submit</button>
                    </form>
<p>Click <a href='/logout'>here</a> to log out</p>
</div>
{% endblock %}
