{% extends "layout.html" %}
{% block title %}Home Slice{% endblock %}

{% block jumbotron %}
{% endblock %}

{% block cols %}
{% endblock %}

{% block content %}
</br>
</br>
<div class="container">
<h1>Protected Content</h1>
<p class="important">This page is protected!</p>
                <h1>Search thing</h1>
                    <form action="/admin_search" method="post">
                        <input type="text" name="searchString" id="searchString" placeholder="Enter your search string..." required>
                        <br>
                        <input type="submit" class="button" value=$
                        </form>
<p>Click <a href='/logout'>here</a> to log out</p>
</div>
{% endblock %}
