{% extends "layout.html" %}
{% block title %}Admin Page{% endblock %}
{% block cols %}
{% endblock %}

{% block jumbotron %}
{% endblock %}

{% set active_page = 'admin.html' %}
{% block content %}
</br>
</br>
<div class="container">
<h1>Secure Admin Page</h1>
<p class="important"> Welcome to the admin page!</p>
</br>
<p>Please see below for the functions provided by this endpoint</p>
</div>
<div class="container">
    <h2>Modify User</h2>
    <p>Please enter the name of the user you wish to modify: </p>
</div>
{% endblock %}
