{% extends "layout.html" %}
{% block title %}Home Slice{% endblock %}

{% block jumbotron %}
{% endblock %}

{% block cols %}
{% endblock %}

{% block content %}
</br>
</br>
<div class="container">
<h1>Important Information</h1>
<p class="important">Did you know, that banging your head against a wall uses roughly 150 calories per hour?</p>
<p>If you experience any issues with this website or any of its content, then you should probably tell the owner, or just break it and laugh</p>
</div>
{% endblock %}
