{% extends "layout.html" %}
{% block title %}You are now logged in!{% endblock %}

{% block jumbotron %}
{% endblock %}

{% block cols %}
{% endblock %}

{% block content %}
<div class="container">
</br>
</br>	
  <h1>Log In</h1>
  <form action="/login" method="post">

   <div class="form-group">
     <label for="username">Name:</label>
     <input type="text" class="form-control" name="username" id="username" placeholder="Username" required>
   </div>
   <div class="form-group">
     <label for="password">Password:</label>
     <input type="password" class="form-control" name="password" id="password" placeholder="Password" required>
   </div>
   <div class="control-group">
      <div class="controls">
       <button type="submit" class="btn btn-success">Submit</button>
      </div>
   </div>

  </form>
</div>
{% endblock %}
