{% extends "layout.html" %}
{% block title %}You are now logged in!{% endblock %}

{% block jumbotron %}
{% endblock %}

{% block cols %}
{% endblock %}

{% block content %}
<div class="container">
</br>
</br>	
  			<h1>Log In</h1>
  			<form action="/testlogin" method="post">
    			<input type="text" name="username" id="username" placeholder="Username" required/>
    			<br>
    			<input type="password" name="password" id="password" placeholder="Password" required/>
    			<br>
    			<input type="submit" class="btn bth-success" value="Log In"/>
  			</form>
</div>
{% endblock %}
