{% extends "layout.html" %}
{% block title %}Home Slice{% endblock %}

{% block jumbotron %}
{% endblock %}

{% block cols %}
{% endblock %}

{% block content %}
</br>
</br>
<div class="container">
<h1>Protected Content</h1>
<p class="important">This page is protected!</p>
<p>You are now logged into the web application, try and access some of the other pages</p>
<p>Click <a href='/logout'>here</a> to log out</p>
</div>
<div class="container">
    <img src="../static/anger.jpg" class="img-rounded" alt="Angry Gorilla" width=640 height=480>
</div>
{% endblock %}
