{% extends "layout.html" %}
{% block title %}Home Slice{% endblock %}

{% block jumbotron %}
{% endblock %}

{% block cols %}
{% endblock %}

{% block content %}
</br>
</br>
<div class="container">
<h1>Protected Content</h1>
<p class="important">This page is protected!</p>
<p>Congratulations! You have successfully registered for this little web app thing</p>
</br>
<p>Alternatively, you were poking about and happened to land here by accident thinking you could trick the application into thinking your presence on this page automagically gives you access. (Hint: it doesn't)</p>
<p>Click <a href='/login'>here</a> to log in</p>
</div>
{% endblock %}
